<body onload="executarAposLoad()">

    <script>
        function executarAposLoad(){
            console.log("A página fez load");
        }
        
        function somar(){
            let numElement = document.getElementById("num");
            let num = parseInt(numElement.innerText);

            num ++;

            numElement.innerText = num

        }

        function fazCenas(){
            let cenaElement = document.getElementById("cena");
            cenaElement.style.backgroundColor = "green";
        }

        function fazOutraCena(){
            document.getElementById("cena").style.backgroundColor = "red";
        }

        function agregado(){
            // Despoletar evento
        }

    </script>


    <button onclick="somar()">FACO CENAS</button>

    <a>1</a>


    <div id="cena" style="background-color: black; height: 100px; width: 100px;" onmouseover="fazCenas()" onmouseout="fazOutraCena()">etstes</div>

</body>
